name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: swift:6.2-noble
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            .build
            .swiftpm/cache
          key: spm-${{ hashFiles('Package.resolved') }}
          restore-keys: spm-
      
      - uses: brightdigit/swift-build@v1.4.0 # https://github.com/brightdigit/swift-build/tree/main
        with:
          scheme: YourPackageName-Package
